.cart-bg {
  display: flex;
  background-color: var(--celadon);
  height: 83.5vh;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4em;
    color: black;
    text-align: center;
    font-family: "Tilt Neon", sans-serif;
    padding: 2vh;
    margin-bottom: 2vh;
  }
}

.checkout {
  width: 150px;
  height: 50px;
  color: var(--white);
  background-color: var(--brown);
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  font-family: "Tilt Neon", sans-serif;
  font-size: 16px;
}

.countHandler {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

.cart-items img {
  width: 8.5vh;
  height: auto;
  margin: 1vh;
}
