.cart-bg {
  display: flex;
  background-color: var(--celadon);
  height: 83.5vh;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 3em;
    color: black;
    font-family: "Tilt Neon", sans-serif;
    margin-bottom: -1vh;
    height: 2vh;
    width: auto;
  }
}

.cart-container {
  display: flex;
  flex-direction: column;
  background-color: var(--brown);
  height: 70vh;
  width: 70vw;
  border-radius: 8px;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  width: 30vw;
  margin-top: 5vh;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10vw;
  height: 5vh;
  color: var(--white);
  background-color: var(--fern-green);
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  font-family: "Tilt Neon", sans-serif;
  font-size: 16px;
}

.countHandler {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}

.cart-items img {
  width: 8vh;
  height: auto;
  margin: 1vh;
}

.cart-info p {
  font-size: 1.5em;
  font-family: "Tilt Neon", sans-serif;
  margin: 1vh;
  color: black;
}
