.checkout-bg {
  display: flex;
  background-color: var(--brown);
  height: 83.5vh;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-container h1 {
  font-size: 4em;
  color: var(--white);
  text-align: center;
  font-family: "Tilt Neon", sans-serif;
  padding: 2vh;
  margin-bottom: 2vh;
}

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

.back-button {
  width: 150px;
  height: 50px;
  color: var(--white);
  background-color: var(--brown);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Tilt Neon", sans-serif;
  font-size: 16px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-form input {
  width: 15vw;
  height: 5vh;
  border-radius: 8px;
  border: none;
}

.checkout-form button {
  width: 15vw;
  height: 5vh;
  background-color: var(--forest-green);
  color: var(--white);
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  font-family: "Tilt Neon", sans-serif;
  font-size: 20px;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--maroon);
  height: 70vh;
  width: 70vw;
  border-radius: 8px;
}
