.diet-bg {
  display: flex;
  background-color: var(--brown);
  justify-content: center;
  align-items: center;
  height: 83.5vh;
}

.diet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 60vh;
  background-color: var(--maroon);
  border-radius: 3em;
  flex-direction: column;
  border: 0.4em solid var(--yellow-green);
  z-index: 2;
}

.diet-line {
  width: 100%;
  height: 40vh;
  background-image: var(--line);
  position: absolute;
  z-index: 1;
}
