.specials-container-bg {
  background: var(--maroon);
  height: 105vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  flex-direction: column;
  border: 0.4em solid var(--yellow-green);
}

.specials-container-bg h1 {
  font-size: 3em;
  color: var(--white);
  text-align: center;
  font-family: "Tilt Neon", sans-serif;
  margin-bottom: 1vh;
}

.specials-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  .addToCart-btn {
    width: 10vw;
    height: 5vh;
    background-color: var(--forest-green);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
}

.specials-item {
  img {
    height: 7.5vh;
    width: auto;
  }
  h3 {
    font-family: "Tilt Neon", sans-serif;
    color: var(--white);
    text-align: center;
    font-size: 1em;
    margin-top: -2vh;
  }
  p {
    font-family: "Tilt Neon", sans-serif;
    color: var(--white);
    text-align: center;
    margin-top: -2vh;
    font-weight: bold;
  }
  display: flex;
  padding: 25px;
  background-color: var(--mantis);
  align-items: center;
  border-radius: 3em;
  flex-direction: column;
  margin: 1vh;
}

.specials-item:hover {
  background-color: var(--brown);
  transform: scale(1.05);
}

.addToCart-btn:hover {
  background-color: var(--maroon);
  transform: scale(1.05);
}
