.specials-container-bg {
  background: var(--maroon);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 4rem;
}

.specials-container-bg h1 {
  font-size: 4em;
  color: var(--white);
  text-align: center;
  font-family: "Tilt Neon", sans-serif;
  padding: 2vh;
  margin-bottom: 2vh;
}

.specials-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  .addToCart-btn {
    width: 150px;
    height: 50px;
    background-color: var(--forest-green);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
}

.specials-item {
  img {
    height: 10vh;
    width: auto;
  }
  h3 {
    font-family: "Tilt Neon", sans-serif;
    color: var(--white);
    text-align: center;
    font-size: 2em;
    margin-top: -2vh;
  }
  p {
    font-family: "Tilt Neon", sans-serif;
    color: var(--white);
    text-align: center;
    margin-top: -2vh;
    font-weight: bold;
  }
  display: flex;
  height: 15em;
  width: 8em;
  padding: 30px;
  background-color: var(--mantis);
  align-items: center;
  border-radius: 3em;
  flex-direction: column;
  margin: 20px;
}
