/* Colours */
:root {
  --fern-green: rgb(75, 127, 82);
  --mantis: rgb(125, 209, 129);
  --celadon: rgb(150, 232, 188);
  --yellow-green: rgb(149, 198, 35);
  --forest-green: rgb(19, 138, 54);
  --orange: rgb(238, 118, 14);
  --grey: rgb(128, 128, 128);
}

/* Default styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--celadon);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
