/* Colours */
:root {
  --fern-green: rgb(75, 127, 82);
  --mantis: rgb(125, 209, 129);
  --celadon: rgb(150, 232, 188);
  --yellow-green: rgb(96, 179, 48);
  --forest-green: rgb(19, 138, 54);
  --orange: rgb(238, 118, 14);
  --white: rgb(253, 249, 249);
  --brown: rgb(192, 127, 81);
  --color1: hsla(148, 64%, 75%, 1);
  --color2: hsla(25, 47%, 54%, 1);
  --dark-brown: rgb(167, 106, 46);
  --maroon: #8b5c5c;
  --red: rgb(207, 131, 131);
  --green2: hsl(86, 65%, 56%);
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

/* Default styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Quicksand", "Tilt Neon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--celadon);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
